// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$text-base-color: #4c4f69;
$text-link-blue: #179299;
$text-link-blue-active: #043c3f;

$black: #4c4f69;
$light: #eff1f5;
$smoke: #acb0be;
$gray: #7c7f93;
$white: #dce0e8;

// Dark Colors
$dark-text-base-color: #cdd6f4;
$dark-text-link-blue: #94e2d5;
$dark-text-link-blue-active: #43877c;

$dark-black: #11111b;
$dark-white: #bac2de;
$dark-light: #1e1e2e;
$dark-smoke: #313244;
$dark-gray: #6c7086;

// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "klise/fonts", "klise/base", "klise/layout", "klise/post",
  "klise/miscellaneous", "klise/syntax", "klise/dark";
